[SddmGreeterTheme]
Name=Lavanda-Sea
Description=Lavanda Sea theme for KDE Plasma
Author=VinceLiuice
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.1
Website=https://github.com/vinceliuice/Lavanda-kde
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=vinceliuice@hotmail.com
Theme-Id=Lavanda-Sea
Theme-API=2.0
QtVersion=6
